/output/

/baseline-DCRNN/__pycache__


/data/traffic
/data/NYC_bike/__pycache__
/data/NYC_bike/.ipynb_checkpoints
/data/NYC_bike/Download
/data/NYC_bike/outputs
/data/NYC_bike/processed_bike_data
/data/NYC_bike/raw_bike_data
/data/NYC_bike/results
data/NYC_bike/utils/__pycache__

datasets/__pycache__

output
utils/__pycache__

cash
.vscode/*

model_save

data/NYC_bike/test.py
data/NYC_bike/test2.py